---
layout: layouts/base.njk
section: home
pagination:
  data: collections.project
  size: 4
  alias: projects
---
<div class="home-page">
  <div class="hero">
    <div class="hero__col">
      <image 
        class="hero__image shadow"
        src="{{ home.image }}"
        alt="{{ home.image_alt }}"
        width="500px"
        height="500px"
        loading="lazy"></div>
      <div class="hero__col">
        <h1 class="hero__title ">{{ home.title }}</h1>
        <h2 class="hero__subtitle">{{ home.subtitle }}</h2>
        <button class="btn hero_btn" onclick="window.location.href='/signup/index.html';">PRESS START to get hacking!</button>
      </div>
    </div>

    <hr>
    <h1>Recently added projects:</h1>
    <hr>
    {% set projectlist = projects %}
    {% set show_postslist_tags = true %}
    {% include "components/projectlist.njk" %}
    <nav>
      <a href="{{ '/projects/' | url }}" class="tag">See all projects ▶</a>
    </nav>

    <h2>Thank you to all the unitaryHACK supporters! 🙏</h2>
    <ul style="list-style-type:square">
      <li>
        <a href="https://unitary.fund">Unitary Fund</a>
      </li>
    </ul>
  </div>
</div>