---
layout: layouts/base.njk
section: home
---
<div class="home-page">
  <div class="center">
    <h1>unitaryHACK 2023!!!</h1>
  </div>
  <h2>Contribute to the open quantum ecosystem, level your skills, and get rewarded!</h2>

  <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
  <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrKvcL9mtkuWJmg6?backgroundColor=yellow" frameborder="0" onmousewheel="" width="100%" height="2223" style="background: transparent; border: 1px solid #ccc;"></iframe>
</div>