---
layout: layouts/base.njk
section: home
title: unitaryHACK 2023
---

<div class="home-page">
  <div class="hero">
    <div class="hero__col">
      <image
        class="hero__image"
        src="{{ home.image }}"
        alt="{{ home.image_alt }}"
        width="500px"
        height="500px"
        loading="lazy"
      ></image>
    </div>
    <div class="hero__col">
      <h2 class="hero__title">
        Contribute to the open quantum ecosystem, level your skills, and get
        rewarded!
      </h2>
       <table>
        <tr>
          <th></th>
          <th>Bounties</th>
          <th>Reward</th>
        </tr>
        <tr>
          <td>Open</td>
          <td>{{ stats["num_open_bounties"] }}</td>
          <td>${{ stats["open_bounty_value"] }}</td>
        </tr>
        <tr>
          <td>Closed</td>
          <td>{{ stats["num_closed_bounties"] }}</td>
          <td>${{ stats["closed_bounty_value"] }}</td>
        </tr>
      </table> 
    </div>
  </div>
  <p>
    unitaryHACK is an open to all event, encouraging people to make their first,
    or fifth, contribution to the open source quantum ecosystem. The event will
    run May 26-Jun 13, where hackers have the opportunity to win
    <b>cash bounties</b>!
  </p>

  <p>
    For more information, check out what happened in
    <a href="http://2021.unitaryhack.dev/">2021</a>, and
    <a href="https://2022.unitaryhack.dev/">2022</a>, and in the meantime come
    hang out on <a href="http://discord.unitary.fund/">Discord</a>!
  </p>

  <h2>Thanks so much to all the unitaryHACK supporters! 🙏</h2>
  <ul style="list-style-type: square">
    <li>
      <a href="https://aws.amazon.com/braket/">AWS</a>
    </li>
    <li>
      <a href="https://www.classiq.io/">Classiq</a>
    </li>
    <li>
      <a href="https://unitary.fund/">Unitary Fund</a> and its members (<b
        >Core Members</b
      >: <a href="https://www.ibm.com/quantum">IBM Quantum</a> and
      <a href="https://www.scientifica.vc">Scientifica</a>;
      <b>Supporting Members</b>: <a href="https://agnostiq.ai/">Agnostiq</a>,
      <a href="https://aws.amazon.com/braket/">AWS</a>,
      <a href="https://www.cisco.com/">Cisco</a>,
      <a href="https://dorahacks.io/">DoraHacks</a>,
      <a href="https://www.pasqal.com/">Pasqal</a>,
      <a href="https://www.quandela.com/">Quandela</a>,
      <a href="https://www.qyber.ai">Qyber</a>)
    </li>
  </ul>

  <h2>Sign up for unitaryHACK! ✍️</h2>
  <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
  <iframe
    class="airtable-embed airtable-dynamic-height"
    src="https://airtable.com/embed/shrKvcL9mtkuWJmg6?backgroundColor=yellow"
    frameborder="0"
    onmousewheel=""
    width="100%"
    height="2223"
    style="background: transparent; border: 1px solid #ccc"
  ></iframe>
</div>
