---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slugify }}/
layout: layouts/base.njk
eleventyComputed:
  title: "Tagged: {{ tag }}"
  metaDescription: All projects tagged with "{{ tag }}"
---
<div class="page-container">
  <div class="tag-list tag-list--no-wrap">
    <h3 class="tag-list__title">Projects tagged: {{ tag }}</h3>
  </div>

  {% set projectlist = collections[tag] %}
  {% set show_postslist_tags = false %}
  {% include "components/projectlist.njk" %}

  <nav>
    <a href="{{ '/tags/' | url }}">← View all tags</a>
  </nav>
</div>