/* Desktop CSS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 40px 0;
}

.project-card {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 30px 30px;
  background: linear-gradient(var(--color-secondary), var(--color-border));
  border: 30px solid var(--color-border);
  font-family: var(--font-family-default);
  font-size: var(--font-size-p);
  letter-spacing: 1.5px;
  color: var(--color-text-title);
  border-radius: 50px;
}

.project-card:hover {
  transform: scale(1.1);
  filter: brightness(115%);
}

.project-card__title {
  color: var(--color-text-title);
  font-family: var(--futuristic-font);
  font-size: var(--font-size-h1);
  letter-spacing: 4px;
  position: relative;
}

.project-card__tag {
  background-color: var(--color-text-title);
  color: var(--color-secondary);
  font-family: var(--pixel-font);
  font-size: var(--font-size-tag);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 5px;
}

.project-list__tag {
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
  font-size: var(--font-size-tag);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 5px;
}
a.project-list__tag:hover {
  background-color: white;
}

.tag-list {
  line-height: 2rem;
  display: flex;
  flex-flow: row wrap;
}

.project-card__tag:hover {
  color: var(--color-secondary);
  filter: brightness(115%);
}

.project-card__emoji {
  margin-right: 8px;
  vertical-align: middle;
  font-size: var(--font-size-emoji);
}

.completion-emoji {
  margin: 8px;
  vertical-align: middle;
  font-size: var(--font-size-emoji);
}

label {
  font-weight: 400;
}

progress {
  border: none;
  border-radius: 0.5em;
  color: var(--color-secondary);
  background-color: var(--color-bg);
}

progress::-moz-progress-bar {
  background: var(--color-secondary);
}

progress::-webkit-progress-value {
  background: var(--color-secondary);
}

.page-container {
  max-width: 1200px;
  margin: 0 10%;
}

.bounty-right {
  float: right;
  font-size: 0.7em;
  font-weight: 400;
}

.emoji-name-box {
  display: flex;
  align-items: center;
}

.project-bounties {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.bounty-closed {
  text-decoration: line-through;
}

/* Widescreen CSS */
@media (min-width: 1600px) {
  .page-container {
    max-width: 1200px;
    margin: 0 25%;
  }
}

/* Tablet CSS */
@media (max-width: 912px) {
}

/* Mobile CSS */
@media (max-width: 414px) {
}
@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
