{% for project_key, metadata in gh | dictsort %}
  <section>
    <h2 class="project-bounties">
      <div class="emoji-name-box">
        <span class="project-card__emoji">{{ metadata.emoji }}</span>
        <a href="/projects/{{ metadata.name | slugify }}">{{ metadata.name }}</a>
      </div>
      {% if metadata.amount_available != 0 %}
        <span class="bounty-right">
          <span class="completion-emoji">💰</span><b>${{ metadata.amount_available }}</b> up for grabs!<span class="completion-emoji">🤑</span>
        </span>
      {% elif metadata.total_amount > 0 and metadata.amount_available == 0 %}
        <span class="bounty-right">
          <span class="completion-emoji">🥳</span>Project completed!<span class="completion-emoji">💯</span>
        </span>
      {% else %}
        <span class="bounty-right">
          <span class="completion-emoji">⏰</span>Bounties coming soon!<span class="completion-emoji">💭</span>
        </span>
      {% endif %}

    </h2>
    <ul>
      {% for bounty in metadata.bounties %}
        <li>
          <a class="tag bounty-{{ bounty.state }}" href="{{ bounty.url | url }}">${{ bounty.value }} | {{bounty.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}